spring:
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3306/ec_shop
    username: root
    password: password
    driver-class-name: com.mysql.jdbc.Driver
  sql:
    init:
      mode: always
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: create
jwt:
  url: /v1/auth/login
  header: Authorization
  prefix: Bearer
  expiration: 3600000
  refreshExpiration: 86400000
  secret: jwt-secret
